{% extends 'base.html.twig' %}

{% block title %}Products page{% endblock %}
{% block pageTitle %}Create products{% endblock %}

{% block content %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}