{% trans_default_domain 'admin' %}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
