{% extends './base.html.twig' %}

{% block title %}Add category{% endblock %}
{% block pageTitle %}New category{% endblock %}

{% block content %}
    <div>
        {{ form(addForm) }}
    </div>
    <div class="form">
        {{ form(form) }}
    </div>

{% endblock %}