{% extends './base.html.twig' %}

{% block title %}Add user{% endblock %}
{% block pageTitle %}New user{% endblock %}

{% block content %}
    <div class="form d-flex justify-content-between">
        {{ form(form) }}
    </div>

{% endblock %}