{% extends './base.html.twig' %}

{% block title %}Add category{% endblock %}

{% block content %}
    <h1 class="h1 text-center">
        New category
    </h1>
    <div>
        {{ form(addForm) }}
    </div>
    <div class="form">
        {{ form(form) }}
    </div>

{% endblock %}